* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway', sans-serif;
} 

h2 {
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0d138d;
    align-items: normal;
}

section {
    background-color: rgb(154, 154, 190);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

section.a1 {
    background-color: rgba(184, 135, 173, 0.517);
}

section.a2 {
    background-color: rgba(212, 199, 151, 0.532);
}


/* Specificity */

/* 
Selector:
    - ID: #id
    - Class: .class
    - Type

(ID, Class, Type)
id = 0,0,1


*/





